<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>

    <!-- Springboot startup noise -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
    <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet.WebMvcEndpointHandlerMapping" level="WARN"/>
    <logger name="org.flywaydb.core" level="WARN"/>

    <!-- Springboot noise -->
    <logger name="org.springframework.test.context.transaction" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- Internal Kafka Clients -->
    <logger name="org.apache.kafka.clients.consumer.internals" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.internals" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="WARN"/>
    <logger name="org.apache.kafka.clients.admin.internals" level="WARN"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="WARN"/>
    <logger name="org.apache.kafka.clients.Metadata" level="WARN"/>
    <logger name="org.apache.zookeeper.ZooKeeper" level="WARN"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="WARN"/>

    <!-- Logging for internal Kafka/Zookeeper -->
    <logger name="org.apache.zookeeper.server" level="WARN"/>
    <logger name="kafka.controller" level="WARN"/>
    <logger name="kafka.coordinator" level="WARN"/>
    <logger name="kafka.cluster" level="WARN"/>
    <logger name="kafka.server" level="WARN"/>
    <logger name="kafka.network" level="WARN"/>
    <logger name="kafka.log" level="WARN"/>
    <logger name="kafka.zk" level="WARN"/>
    <logger name="kafka.zookeeper" level="WARN"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="WARN"/>

</configuration>