target/
.idea/
*.iml
node_modules/
kafka-webview-ui/src/main/frontend/dist/
kafka-webview-ui/src/main/resources/static/
data/
TODO
.settings/
.classpath
.project
kafka-webview-ui/src/main/resources/build
