<!DOCTYPE html>
    <html
        xmlns:th="http://www.thymeleaf.org">
    <head/>
    <body>

    <!-- All Filters -->
    <th:block th:fragment="displayFilters(datatable)">
        <th:block th:each="filter : ${datatable.getFilters()}">
            <div th:replace="fragments/datatable/Filters :: displayFilter(${datatable}, ${filter})">
            </div>
        </th:block>
    </th:block>

    <!-- Single Filter -->
    <div th:fragment="displayFilter(datatable, filter)" class="float-right" th:if="${!filter.getOptions().isEmpty()}">
        <form class="form-inline" method="get" th:action="${datatable.getUrl()}">
            <label class="my-1 mr-2" th:for="${filter.getField()}">[[${filter.getLabel()}]]</label>
            <select class="form-control mb-1 mr-sm-1" th:name="${filter.getField()}" onchange="jQuery(this).parent().submit();">
                <option value=""></option>
                <option
                    th:each="option : ${filter.getOptions()}"
                    th:value="${option.getValue()}"
                    th:text="${option.getLabel()}"
                    th:selected="${option.getValue().equals(datatable.getCurrentFilterValueFor(filter))}">
                </option>
            </select>

            <!-- Other datatable params -->
            <th:block th:each="paramEntry : ${datatable.getUrlParams('page', '', filter.getField(), '').entrySet()}">
                <input type="hidden" th:name="${paramEntry.getKey()}" th:value="${paramEntry.getValue()}"/>
            </th:block>
        </form>
    </div>

    <div th:fragment="displaySearch(datatable)" class="float-right" th:if="${datatable.getSearch() != null}">
        <form class="form-inline" method="get" th:action="${datatable.getUrl()}">
            <label class="sr-only" for="datatable-search">
                [[${datatable.getSearch().getLabel()}]]
            </label>

            <!-- Search Field -->
            <input
                class="form-control mb-1 mr-sm-1"
                type="text"
                id="datatable-search"
                name="search"
                th:placeholder="${datatable.getSearch().getLabel()}"
                th:value="${datatable.getSearch().getCurrentSearchTerm()}"/>

            <!-- Other datatable params -->
            <th:block th:each="paramEntry : ${datatable.getUrlParams('search', '', 'page', '').entrySet()}">
                <input type="hidden" th:name="${paramEntry.getKey()}" th:value="${paramEntry.getValue()}"/>
            </th:block>
        </form>
    </div>

    </body>
</html>