<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <title>Welcome!</title>
</head>

<body>
<!-- Main Content -->
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="connect">WebSocket connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="name">What is your name?</label>
                        <input type="text" id="name" class="form-control" placeholder="Your name here...">
                    </div>
                    <button id="send" class="btn btn-default" type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Greetings</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script type="application/javascript">
        var SocketDetails = {
            // Logged in userdId
            userId: '[[${userId}]]',
            viewId: '[[${viewId}]]',

            // Our stomp client
            stompClient: null,

            // End point to connect
            socketUrl: "/websocket",

            // End point to consume a view
            consumerSubscribeUrl: "/websocket/consume",
            consumerBaseUrl: "/user/topic/view",

            getConsumerUrl : function() {
                return SocketDetails.consumerBaseUrl + '/' + SocketDetails.viewId + '/' + SocketDetails.userId;
            },

            getSubscribeUrl: function() {
                return SocketDetails.consumerSubscribeUrl + '/' + SocketDetails.viewId;
            }
        };

        function setConnected(connected) {
            $("#connect").prop("disabled", connected);
            $("#disconnect").prop("disabled", !connected);
            if (connected) {
                $("#conversation").show();
            }
            else {
                $("#conversation").hide();
            }
            $("#greetings").html("");
        }

        function connect() {
            var socket = new SockJS(SocketDetails.socketUrl);
            SocketDetails.stompClient = Stomp.over(socket);
            SocketDetails.stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);

                // Request subscription
                subscribeResults();
                requestSubscription();
            });
        }

        function requestSubscription() {
//            var topic = SocketDetails.getSubscribeUrl();
//            console.log("Subscribing to Topic " + topic);
//            SocketDetails.stompClient.subscribe(topic, function (incomingMessage) {
//                var json = JSON.parse(incomingMessage.body);
//                console.log("Subscription: " + json);
//            });
            SocketDetails.stompClient.send(SocketDetails.getSubscribeUrl(), {}, JSON.stringify({}));
        }

        function subscribeResults() {
            var topic = SocketDetails.getConsumerUrl();
            console.log("Subscribing to Topic " + topic);
            SocketDetails.stompClient.subscribe(topic, function (incomingMessage) {
                var json = JSON.parse(incomingMessage.body);
                console.log(json);
            });
        }

        function disconnect() {
            if (SocketDetails.stompClient !== null) {
                SocketDetails.stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            SocketDetails.stompClient.send("/app/hello", {}, JSON.stringify({'name': $("#name").val()}));
        }

        function showGreeting(message) {
            $("#greetings").append("<tr><td>" + message + "</td></tr>");
        }

        $(function () {
            $("form").on('submit', function (e) {
                e.preventDefault();
            });
            $( "#connect" ).click(function() { connect(); });
            $( "#disconnect" ).click(function() { disconnect(); });
            $( "#send" ).click(function() { sendName(); });
        });
    </script>
</section>

</body>
</html>