<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<head>
    <title th:text="'Streaming ' + ${view.name}"></title>
</head>

<body>
<!-- Main Content -->
<section layout:fragment="content">
    <div class="container">
        <div id="root" th:attr="data-user-id=${userId},data-view-id=${view.id}">
        <!-- Our webpack managed modular application, basically where the React stuff will live -->
        <!-- TODO: We need to make this configurable dev/prod, in prod it should just lack the hostname -->
        <script crossorigin src="http://localhost:9000/build/app.js"></script>
    </div>
</section>

</body>
</html>