<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Clusters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Kafka Clusters
                        <div class="btn-group float-right" role="group" aria-label="Button group">
                            <a class="btn" href="/configuration/cluster/create">
                                <i class="icon-settings"></i>
                                &nbsp;Create new
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Cluster Name</th>
                                <th>Brokers</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cluster : ${clusterList}">
                                    <td th:text="${cluster.name}"></td>
                                    <td th:text="${cluster.brokerHosts}"></td>
                                    <td>
                                        <span
                                            th:if="${cluster.isValid()}"
                                            class="badge badge-success">On-line
                                        </span>
                                        <span
                                            th:if="!${cluster.isValid()}"
                                            class="badge badge-danger">Off-line
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a th:if="!${cluster.isValid()}" class="dropdown-item" th:href="@{/configuration/cluster/test/{id}(id=${cluster.id})}">
                                                    <i class="fa fa-edit"></i>
                                                    Validate
                                                </a>
                                                <a class="dropdown-item" th:href="@{/configuration/cluster/edit/{id}(id=${cluster.id})}">
                                                    <i class="fa fa-edit"></i>
                                                    Edit
                                                </a>
                                                <a class="dropdown-item" th:href="@{/configuration/cluster/delete/{id}(id=${cluster.id})}">
                                                    <i class="fa fa-remove"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</section>

</body>
</html>