<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div class="omb_login">
            <h3 class="omb_authTitle">Sign up or <a href="/login">Login</a></h3>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" th:action="@{/register}" th:object="${registerForm}" autocomplete="off" method="POST">
                        <!-- Email Input -->
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input
                                type="text" class="form-control" name="email" placeholder="Email Address"
                                th:field="*{email}"
                            />
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                        <span class="help-block" th:if="!${#fields.hasErrors('email')}"/>

                        <!-- Display Name Input -->
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input
                                type="text" class="form-control" name="displayName" placeholder="Display Name"
                                th:field="*{displayName}"
                            />
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}"/>
                        <span class="help-block" th:if="!${#fields.hasErrors('displayName')}"/>

                        <!-- Password Input -->
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input  type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                        <span class="help-block" th:if="!${#fields.hasErrors('password')}"/>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>