<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">
<head>
    <title>User Role Configuration</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong th:text="${roleForm.exists()} ? 'Edit' : 'Create'">Create</strong>
                        <span th:text="${roleForm.exists()} ? ${roleForm.name} : 'New User Role'"></span>
                    </div>
                    <form
                        th:action="@{/configuration/role/update}"
                        th:object="${roleForm}"
                        method="post" class="form-horizontal" autocomplete="off">

                        <div class="card-body">
                            <!-- Name Input -->
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="name">
                                    Name
                                </label>
                                <div class="col-md-9">
                                    <input
                                        id="name" name="name" class="form-control" type="text"
                                        placeholder="Role's name"
                                        th:errorclass="is-invalid"
                                        th:value="*{name}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                                </div>
                            </div>

                            <!-- Permissions Inputs -->
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="name">
                                    Permissions
                                </label>
                                <div class="col-md-9">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('permissions')}" th:errors="*{permissions}" style="display: block;"/>
                                    <div class="row">
                                        <div class="col-sm-3" th:each="permissionGroup : ${permissionGroups}">
                                            <div class="card">
                                                <div class="card-block">
                                                    <h3 class="card-title" th:text="${permissionGroup.getName()}"></h3>
                                                    <p class="card-text" th:text="${permissionGroup.getDescription()}"></p>
                                                    <div class="form-check" th:each="permission : ${permissionGroup.getPermissions()}">
                                                        <label class="form-check-label">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                name="permissions"
                                                                th:checked="${roleForm.getPermissions().contains(permission)}"
                                                                th:value="${permission.name()}"
                                                                th:errorclass="is-invalid"
                                                            >
                                                            <span th:text="${permission.getDisplayName()}"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="row">

                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="hidden" name="id" th:if="${roleForm.exists()}" th:field="*{id}">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i>
                                Submit
                            </button>
                            <a class="btn btn-sm btn-danger" th:href="@{/configuration/role}" role="button">
                                <i class="fa fa-ban"></i>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>