<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<head>
    <title>Producer Configuration</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Producers
                        <div class="btn-group float-right" role="group" aria-label="Button group">
                            <a class="btn" th:href="@{/configuration/producer/create}" style="padding-bottom: 0;">
                                <i class="icon-settings"></i>
                                &nbsp;Create new
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cluster</th>
                                <th>Topic</th>
<!--                                TODO uncomment when we want to send more than a map of string/string as a kafka message-->
<!--                                <th>Key Format</th>-->
<!--                                <th>Value Format</th>-->
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${producers.isEmpty()}" align="center">
                                <td colspan="7">
                                    No producer found!
                                </td>
                            </tr>
                            <tr th:each="producer : ${producers}">
                                <td>
                                    <a th:href="@{/producer/{id}(id=${producer.id})}" th:text="${producer.name}"/>
                                </td>
                                <td th:text="${producer.cluster.name}"></td>
                                <td th:text="${producer.topic}"></td>
<!--                                TODO uncomment when we want to send more than a map of string/string as a kafka message-->
<!--                                <td th:text="${producer.keyMessageFormat.name}"></td>-->
<!--                                <td th:text="${producer.valueMessageFormat.name}"></td>-->
                                <td class="text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <form th:action="@{/configuration/producer/delete/{id}(id=${producer.id})}" method="post">
                                                <button class="dropdown-item" onclick="return confirm('Are you sure?');" type="submit">
                                                    <i class="fa fa-remove"></i>
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</section>

</body>
</html>