<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Lost Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<!-- Main Content -->
<section layout:fragment="content">
    <div class="container">
        <div class="omb_login">
            <h3 class="omb_authTitle"><a th:href="@{/login}">Login</a> or <a th:href="@{/register}">Sign up</a></h3>

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <h3 class="omb_authTitle">I Lost my Password</h3>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" th:action="@{/login/lostPassword}" th:object="${lostPasswordForm}" autocomplete="off" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input
                                    type="text" class="form-control" name="email" placeholder="email address"
                                    th:field="*{email}"
                            />
                        </div>
                        <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                        <span class="help-block" th:if="!${#fields.hasErrors('email')}"/>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>