<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorate="~{layout}">

<head>
    <title>Views</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">

        <div th:replace="fragments/noKafkaClustersFound :: display(${clustersById})">
            <!-- Display no kafka clusters found -->
        </div>

        <!-- Render datatable -->
        <div th:replace="fragments/datatable/Datatable :: display(${datatable})"></div>
    </div>

    <script type="application/javascript">
        jQuery(document).ready(function() {

        });
    </script>
</section>

</body>
</html>