<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorate="~{layout}">

<head>
    <title>Views</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">

        <!-- If we have no clusters at all, render inline help -->
        <th:block th:if="${hasNoClusters}">
            <div th:replace="fragments/noKafkaClustersFound :: display()">
                <!-- Display no kafka clusters found -->
            </div>
        </th:block>

        <!-- If we have no views at all, render inline help -->
        <th:block th:if="${hasClusters and !hasViews}">
            <div class="alert alert-warning" role="alert">
                <!-- Show Empty if no records found -->
                <h4 class="alert-heading"><strong>No Views Found</strong></h4>
                <p>
                    It looks like you have no Views configured yet!<br/>
                </p>
                <p class="mb-0">
                    <span sec:authorize="hasRole('ROLE_ADMIN')">
                        Let's head over and set one up now!
                        <a th:href="@{/configuration/view/create}">Setup new View</a>
                    </span>
                    <span sec:authorize="!hasRole('ROLE_ADMIN')">
                        Ask an Administrator to configure a view.
                    </span>
                </p>
            </div>
        </th:block>

        <!-- Render datatable if we have one or more clusters. -->
        <th:block th:if="${hasClusters and hasViews}">
            <div th:replace="fragments/datatable/Datatable :: display(${datatable})"></div>
        </th:block>
    </div>
</section>

</body>
</html>