<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorate="~{layout}">

<head>
    <title>Views</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">

        <div class="row" th:if="${clusters.isEmpty()}">
            <!-- No Clusters Found -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading"><strong>No Kafka Clusters Found</strong></h4>
                        <p>
                            It looks like you have no Kafka Clusters configured yet!<br/>
                        </p>
                        <p class="mb-0">
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                Let's head over and set one up now!
                                <a href="/configuration/cluster/create">Setup new Cluster</a>
                            </span>
                            <span sec:authorize="!hasRole('ROLE_ADMIN')">
                                Ask an Administrator to configure a cluster.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" th:each="cluster: ${clusters}">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Cluster <strong th:text="${cluster.name}"></strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>View</th>
                                <th></th>
                                <th>Topic</th>
                                <th>Partitions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:unless="${viewsByClusterId.get(cluster.getId()).isEmpty()}" th:each="view : ${viewsByClusterId.get(cluster.getId())}">
                                <td th:text="${view.name}">
                                </td>
                                <td>
                                    <a th:href="'/view/' + ${view.id}">Browse</a> |
                                    <a th:href="'/stream/' + ${view.id}">Stream</a>
                                </td>
                                <td th:text="${view.topic}"></td>
                                <td th:text="${view.partitions.isEmpty()} ? 'All' : ${view.partitions}"></td>
                            </tr>
                            <!-- Empty List -->
                            <tr th:if="${viewsByClusterId.get(cluster.getId()).isEmpty()}" >
                                <td colspan="3" class="text-center">
                                    No Views Found!
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</section>

</body>
</html>