<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        layout:decorate="~{layout}">

<head>
    <title>Producers</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">

        <div th:replace="fragments/noKafkaClustersFound :: display(${clustersById})">
            <!-- Display no kafka clusters found -->
        </div>

        <div class="row" th:if="${!clustersById.isEmpty()} and ${producerList.isEmpty()}">
            <!-- No Producers Found -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading"><strong>No Producers Found</strong></h4>
                        <p>
                            It looks like you have no Producers configured yet!<br/>
                        </p>
                        <p class="mb-0">
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                Let's head over and set one up now!
                                <a th:href="@{/configuration/producer/create}">Setup new Producer</a>
                            </span>
                            <span sec:authorize="!hasRole('ROLE_ADMIN')">
                                Ask an Administrator to configure a producer.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${not clustersById.isEmpty()} and ${not producerList.isEmpty()}">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header" th:if="${clusterName != null}">
                        <i class="fa fa-align-justify"></i>
                        Views for <b>[[${clusterName}]]</b> Cluster
                    </div>
                    <div class="card-header" th:if="${clusterName == null}">
                        <i class="fa fa-align-justify"></i>
                        All Producers
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Producer</th>
                                <th>Topic</th>
                                <th>Cluster</th>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producer : ${producerList}">
                                <td th:text="${producer.name}"></td>
                                <td th:text="${producer.topic}"></td>
                                <td>
                                    <a th:href="@{/cluster/{id}(id=${producer.cluster.id})}" th:text="${clustersById.get(producer.cluster.id).name}"></a>
                                </td>
                                <td>
                                    <a th:href="@{/producer/{id}(id=${producer.id})}">Create message</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
</section>

</body>
</html>