{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:jsx-a11y/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "react", "jsx-a11y", "jest"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 4,
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "react/jsx-no-bind": ["warn"],
    "react/no-unescaped-entities": ["off"]
  }
}
