<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<head>
    <title>Cluster Explorer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <script type="application/javascript">
            // Maintains state of our consumer
            var ConsumerInfo = {
                clusterId: '[[${cluster.id}]]',
                clusterName: '[[${cluster.name}]]',
                consumerId: '[[${consumerId}]]',

                // Holds reference to last consumer membership data.
                lastMembershipDetails: [],

                // Holds reference to last refreshed offset data
                lastOffsetData: [],

                // Refresh ConsumerDetails
                refreshConsumerDetails: function() {
                    // Show loaders
                    jQuery('#consumer-details-loader').toggle(true);
                    jQuery('#consumer-details-table').toggle(false);
                    jQuery('#consumer-membership-loader').toggle(true);
                    jQuery('#consumer-membership-table').toggle(false);

                    // Request Cluster Information
                    ApiClient.getConsumerDetails(ConsumerInfo.clusterId, ConsumerInfo.consumerId, ConsumerInfo.handleConsumerDetails);
                },

                // Handle results from ConsumerDetails request
                handleConsumerDetails: function(results) {
                    // Clear consumer details table
                    var table = jQuery('#consumer-details-tbody');
                    jQuery(table).empty();

                    // Get and compile template
                    var source   = jQuery('#consumer-details-template').html();
                    var template = Handlebars.compile(source);

                    // Collect unique topics
                    var topics = [];
                    jQuery.each(results.members, function(index, member) {
                        // Loop thru each assignment
                        jQuery.each(member.assignment, function(index, assigned) {
                            topics.push(assigned.topic);
                        });
                    });

                    var uniqueTopics = topics.filter(function (value, index, self) {
                        return self.indexOf(value) === index;
                    });

                    // Generate html from template
                    var properties = {
                        clusterName: ConsumerInfo.clusterName,
                        consumerId: ConsumerInfo.consumerId,
                        topic: uniqueTopics,
                        state: results.state,
                        numberOfMembers: results.members.length,
                        partitionAssignor: results.partitionAssignor,
                        isSimple: results.simple,
                        coordinatorId: results.coordinator.id,
                        coordinatorHost: results.coordinator.host,
                        coordinatorPort: results.coordinator.port,
                        coordinatorRack: results.coordinator.rack
                    };
                    var resultHtml = template(properties);

                    // Append it to our table
                    jQuery(table).append(resultHtml);

                    // Build Membership details
                    ConsumerInfo.handleMembershipDetails(results.members);

                    // Hide loaders
                    jQuery('#consumer-details-loader').toggle(false);
                    jQuery('#consumer-details-table').toggle(true);
                },
                handleMembershipDetails: function(members) {
                    // Save reference.
                    ConsumerInfo.lastMembershipDetails = members;

                    // Clear consumer details table
                    var table = jQuery('#consumer-membership-tbody');
                    jQuery(table).empty();

                    // Get and compile template
                    var source   = jQuery('#consumer-membership-template').html();
                    var template = Handlebars.compile(source);

                    // Process each member
                    jQuery.each(members, function(index, member) {
                        var partitions = [];

                        // Loop thru each assignment
                        jQuery.each(member.assignment, function(index, assigned) {
                            partitions.push(assigned.partition);
                        });

                        // Sort partitions?
                        partitions.sort(function(a, b)
                        {
                            return a - b;
                        });

                        // Generate html from template
                        var properties = {
                            memberId: member.memberId,
                            partitionCount: member.assignment.length,
                            hostname: member.host,
                            partitions: partitions
                        };
                        var resultHtml = template(properties);

                        // Append it to our table
                        jQuery(table).append(resultHtml);
                    });

                    // Hide loaders
                    jQuery('#consumer-membership-loader').toggle(false);
                    jQuery('#consumer-membership-table').toggle(true);
                },

                // Refresh ConsumerOffsets
                refreshConsumerOffsets: function() {
                    ApiClient.getConsumerOffsets(ConsumerInfo.clusterId, ConsumerInfo.consumerId, function(results) {
                        ConsumerInfo.handleConsumerOffsets(results);
                    });
                },

                // Handle ConsumerOffsets Results
                handleConsumerOffsets: function(results) {
                    console.log(results);

                    // Get consumer offsets table
                    var table = jQuery('#consumer-offsets-tbody');

                    // Get and compile template
                    var source   = jQuery('#consumer-offsets-template').html();
                    var template = Handlebars.compile(source);

                    // Process each partition
                    jQuery.each(results.offsets, function(index, offsetData) {
                        // Generate html from template
                        var properties = {
                            partition: offsetData.partition,
                            memberId: ConsumerInfo.findAssignedMemberForPartition(offsetData.partition),
                            tail: "TODO",
                            position: offsetData.offset
                        };
                        var resultHtml = template(properties);

                        // Look for existing row
                        var row = jQuery("#partition-" + offsetData.partition);
                        if (row.length > 0) {
                            row.replaceWith(resultHtml);
                        } else {
                            // Append it to our table
                            jQuery(table).append(resultHtml);
                        }
                    });

                    // Hide loaders
                    jQuery('#consumer-offsets-loader').toggle(false);
                    jQuery('#consumer-offsets-table').toggle(true);
                },

                // Attempts to map partition to its assigned consumer id.
                findAssignedMemberForPartition: function(partitionId) {
                    var returnString = null;

                    jQuery.each(ConsumerInfo.lastMembershipDetails, function(index, member) {
                        console.log("Looking at member")
                        jQuery.each(member.assignment, function(index, assigned) {
                            if (assigned.partition == partitionId) {
                                returnString = member.memberId;
                                return false;
                            }
                        });
                        // Break out of loop if we found what we were looking for.
                        if (returnString != null) {
                            return false;
                        }
                    });
                    if (returnString == null) {
                        return "Querying...";
                    }
                    return returnString;
                },

                toggleMembershipDetails: function(el) {
                    jQuery(el).next("tr.membership-summary").toggle();
                }
            };

            // On load, fire off ajax request to load results.
            jQuery(document).ready(function() {
                ConsumerInfo.refreshConsumerDetails();
                ConsumerInfo.refreshConsumerOffsets();
            });
        </script>

        <!-- Consumer Details -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Cluster <strong th:text="${cluster.name}"></strong> Consumer <strong th:text="${consumerId}"></strong>

                        <div class="btn-group float-right" role="group" aria-label="Button group">
                            <a class="btn" href="#" style="padding-bottom: 0;" onclick="ConsumerInfo.refreshConsumerDetails(); return false;">
                                <i class="icon-refresh"></i>
                                &nbsp;Refresh
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Display Loader First -->
                        <div class="alert alert-light" role="alert" id="consumer-details-loader" style="display: block;">
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%">
                                </div>
                            </div>
                        </div>

                        <!-- Hide Results Table -->
                        <table class="table table-bordered table-striped table-sm" id="consumer-details-table" style="display: none;">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody id="consumer-details-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Membership Details -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Consumer <strong th:text="${consumerId}"></strong> Membership

                        <div class="btn-group float-right" role="group" aria-label="Button group">
                            <a class="btn" href="#" style="padding-bottom: 0;" onclick="ConsumerInfo.refreshConsumerDetails(); return false;">
                                <i class="icon-refresh"></i>
                                &nbsp;Refresh
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Display Loader First -->
                        <div class="alert alert-light" role="alert" id="consumer-membership-loader" style="display: block;">
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%">
                                </div>
                            </div>
                        </div>

                        <!-- Hide Results Table -->
                        <table class="table table-bordered table-striped table-sm" id="consumer-membership-table" style="display: none;">
                            <thead>
                            <tr>
                                <th>Member Id</th>
                                <th>Partitions</th>
                                <th>Hostname</th>
                            </tr>
                            </thead>
                            <tbody id="consumer-membership-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Consumer Offsets -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>
                        Consumer <strong th:text="${consumerId}"></strong> Positions

                        <div class="btn-group float-right" role="group" aria-label="Button group">
                            <a class="btn" href="#" style="padding-bottom: 0;" onclick="ConsumerInfo.refreshConsumerOffsets(); return false;">
                                <i class="icon-refresh"></i>
                                &nbsp;Refresh
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Display Loader First -->
                        <div class="alert alert-light" role="alert" id="consumer-offsets-loader" style="display: block;">
                            <div class="progress">
                                <div
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 100%">
                                </div>
                            </div>
                        </div>

                        <!-- Hide Results Table -->
                        <table class="table table-bordered table-striped table-sm" id="consumer-offsets-table" style="display: none;">
                            <thead>
                            <tr>
                                <th>Partition</th>
                                <th>Member Id</th>
                                <th>Tail Offset</th>
                                <th>Consumer Offset</th>
                            </tr>
                            </thead>
                            <tbody id="consumer-offsets-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Consumer Details Template -->
        <script id="consumer-details-template" type="text/x-handlebars-template">
            <tr>
                <td><strong>Cluster</strong></td>
                <td>{{clusterName}}</td>
            </tr>
            <tr>
                <td><strong>Consumer Id</strong></td>
                <td>{{consumerId}}</td>
            </tr>
            <tr>
                <td><strong>Topic</strong></td>
                <td>{{topic}}</td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>{{state}}</td>
            </tr>
            <tr>
                <td><strong>Members</strong></td>
                <td>{{numberOfMembers}}</td>
            </tr>
            <tr>
                <td><strong>Coordinator</strong></td>
                <td>
                    <ul>
                        <li>
                            BrokerId: {{coordinatorId}}
                        </li>
                        <li>
                            Host: {{coordinatorHost}}:{{coordinatorPort}}
                        </li>
                        <li>
                            Rack: {{coordinatorRack}}
                        </li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td><strong>Partition Assignor</strong></td>
                <td>{{partitionAssignor}}</td>
            </tr>
            <tr>
                <td><strong>Simple Consumer</strong></td>
                <td>
                    {{#if isSimple}}
                    <span class="badge badge-success">Yes</span>
                    {{else}}
                    <span class="badge badge-warning">No</span>
                    {{/if}}
                </td>
            </tr>
        </script>

        <!-- Consumer Membership Template -->
        <script id="consumer-membership-template" type="text/x-handlebars-template">
            <tr onclick="ConsumerInfo.toggleMembershipDetails(this); return false;">
                <td>
                    <a href="#" onclick="return false;">{{memberId}}</a>
                </td>
                <td>{{partitionCount}}</td>
                <td>{{hostname}}</td>
            </tr>
            <tr class="membership-summary" style="display: none;">
                <td colspan="3">
                    <table class="table table-bordered table-striped table-sm">
                        <tr>
                            <td>Assigned Partitions</td>
                            <td>
                                <ul>
                                    {{#each partitions}}
                                    <li>
                                        Partition {{this}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </script>

        <!-- Consumer Offsets Template -->
        <script id="consumer-offsets-template" type="text/x-handlebars-template">
            <tr id="partition-{{partition}}">
                <td>{{partition}}</td>
                <td>{{memberId}}</td>
                <td>{{tail}}</td>
                <td>{{position}}</td>
            </tr>
        </script>

    </div>
</section>

</body>
</html>